<tr>
  <!--
  <td>
    
    <%# if @user.avatar.mini.blank? %>
      <%#=image_tag('camera.png', size: "16x16") %>

    <%# else %>
    
    <%#= image_tag(@user.avatar.mini, size: "20x20", alt: "current_user.name", 
                                                 class: "micro") %>
    <%# end %>    
    <%#= link_to bookmark.user.name, bookmark.user %></td>
  -->
  <td>
   <% if bookmark.title.blank? %>
     <%= link_to truncate(bookmark.link, :length => 80), bookmark.link,:target => "_blank" %>
     <br/>
     <div class = "bookmark-time">
      <%= time_ago_in_words(bookmark.created_at) %>
      -<%= @current_time.strftime("%B %d, %Y ") %>
     </div>
     
   <% else %>
      <%= link_to truncate(bookmark.title, :length => 80), bookmark.link,:target => "_blank" %>
      <br/>
      <div class = "bookmark-time">
        <%= time_ago_in_words(bookmark.created_at, class: "bookmark-time")%>
        - <%= @current_time.strftime("%B %d, %Y ") %>
      </div>
  <% end %>
<%#= link_to truncate(bookmark.link, :length => 80), bookmark.link,:target => "_blank" %>
</td>
<td>
<% if current_user?(bookmark.user) %>
<%= link_to "", bookmark, method: :delete,
class: "delete_icon",
data: { confirm: "Are you sure?" },
title: bookmark.link %>
<% end %>
</td>
<!--
<td>
  <%#= time_ago_in_words(bookmark.created_at)%>
</td>
-->
</tr>