<tr>
  <!--
  <td>
    
    <%# if @user.avatar.mini.blank? %>
      <%#=image_tag('camera.png', size: "16x16") %>

    <%# else %>
    
    <%#= image_tag(@user.avatar.mini, size: "20x20", alt: "current_user.name", 
                                                 class: "micro") %>
    <%# end %>    
    <%#= link_to bookmark.user.name, bookmark.user %></td>
  -->
  <td>
   <% if bookmark.title.blank? %>
     <%= link_to truncate(bookmark.link, :length => 80), bookmark.link,:target => "_blank" %>
     <div class = "bookmark-time">
      <% if bookmark.created_at >= Time.now - 24.hours %>
          <%= time_ago_in_words(bookmark.created_at) %>
        <% else %>
          <%= bookmark.created_at.strftime("%b %d, %Y ") %>
      <% end %>
     </div>

     
   <% else %>
      <%= link_to truncate(bookmark.title, :length => 80), bookmark.link,:target => "_blank" %>
      <br/>
      <div class = "bookmark-time">
        <% if bookmark.created_at >= Time.now - 24.hours %>
          <%= time_ago_in_words(bookmark.created_at) %>
        <% else %>
          <%= bookmark.created_at.strftime("%b %d, %Y ") %>
      <% end %>
      </div>
  <% end %>
</td>
<td>
  <% if current_user?(bookmark.user) %>
     <%= link_to "", bookmark, method: :delete, class: "delete_icon",
                               data: { confirm: "Are you sure?" },
                               title: bookmark.link %>
  <% end %>
</td>
<!--
<td>
  <%#= time_ago_in_words(bookmark.created_at)%>
</td>
-->
</tr>