<% if logged_in? %>
  <div class="home">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>
      </section>
      <section class="bookmarks">
        <%= render 'shared/bookmark_form' %>
      </section>
    </aside>
    <div class ="bookmarks">
      <%= render 'shared/feed' %>
    </div>

  </div>
<% else %>
<div class ="home">
	<% provide(:title, "Welcome") %>
  <h1>Your favorite links</h1>
  <h1>anytime, anywhere</h1>
  <p>Social Bookmarks</p>
	<p>No ads, no bs!</p>
  <hr>
	<p>thanks for trying <%= link_to (image_tag('baby-boy-icon.png')), '#' %> little bookmarks</p>
	
  <%#= image_tag("github.png") %>
	<br/>
	<br/>
	<%= link_to "Join us Today", register_path, class: 'green' %>
	<br/>
	<br/>
	<p>or  <%= link_to "Login to your account", login_path %></p>
<% end %>
</div>