<% if logged_in? %>
  <div class="home">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>
      </section>
      <section class="bookmarks">
        <% if @feed_items.count <= 0 %>
          <span> <%= link_to (image_tag('baby-boy-icon.png')), '#' %>
          Welcome to Little Bookmarks</span>
          <br/>
          <br/>
        <p class = "info todo">Saving bookmarks its's easy as Ctrl + C and Ctrl + V</p>
        <%elsif @feed_items.count >= 5 %>
          <% else %>
        <p class = "info todo">you are getting good!... [ message will self destruct after 5 bookmarks ]</p>
        <% end %>
        <br/>
        <%= render 'shared/bookmark_form' %>
      </section>
    </aside>
    <div class ="bookmarks">
      <%= render 'shared/feed' %>
    </div>
  </div>
<div class="clear"></div>
<% else %>

<div class="home_left">

	<% provide(:title, "Welcome") %>
  <h1>Your favorite links</h1>
  <h1>anytime, anywhere</h1>
	<p class ="oxigen">No ads, no bs!</p>
  <br/>
  <br/>
  <h2>
  <%= link_to "Join us Today", register_path, class: 'green oxigen' %> 
  </h2>
	<p class= "oxigen">try us<%= link_to (image_tag('baby-boy-icon.png')), '#' %> Currently in Beta stage</p>
	
  <%#= image_tag("github.png") %>
	<br/>
	<p class ="oxigen">or  <%= link_to "Login to your account", login_path, class: 'login-link' %></p>

</div>
<div class = "home_right">
  <%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Create my account", class: "button create_account" %>
<% end %>

<% end %>
</div>
<div class="clear"></div>