<% if logged_in? %>
  <div class="home">
    <aside class="col-md-4">
      <section class="user_info">
        <%#= render 'shared/user_info' %>
      </section>
      <section class="bookmarks">
        <% if @feed_items.count <= 0 %>
          <span> <%= link_to (image_tag('baby-boy-icon.png')), '#' %>
          Welcome to Little Bookmarks</span>
          <br/>
          <br/>
        <p class = "info todo">Saving bookmarks its's easy as Ctrl + C and Ctrl + V</p>
        <%elsif @feed_items.count >= 5 %>
          <% else %>
        <p class = "info todo">you are getting good!... [ message will self destruct after 5 bookmarks ]</p>
        <% end %>
        <br/>
        <%= render 'shared/bookmark_form' %>
      </section>
    </aside>
    <div class ="bookmarks">
      <%= render 'shared/feed' %>
    </div>
  </div>
<div class="clear"></div>
<% else %>

<div class="home_left">

	<% provide(:title, "Welcome") %>
  <h1>Your favorite links</h1>
  <h1>anytime, anywhere</h1>
	<p class ="oxigen">No ads, no bs!</p>
  <br/>
  <br/>
  <h2>
  <%= link_to "Join Us Today", register_path, class: 'join-us' %> 
  </h2>
  <br/>
  <p> or </p>
	<p class ="oxigen">  <%= link_to "Login to your account", login_path, class: 'login-link' %></p>
  <br/>

</div>
<div class = "home_right">
  <%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.text_field :name, :autofocus => true, :placeholder => 'choose a username' %>
  </div>
  
  <div class="field">
    <%= f.email_field :email, :placeholder => 'email' %>
  </div>
  
  <div class="field">
    <%= f.password_field :password, :placeholder => 'password' %>
  </div>

  <div class ="field">
    <%= f.submit "Create my account", class: "button create_account" %>
  </div>

<% end %>

<% end %>
</div>
<div class="clear"></div>