<% provide(:title, 'Reset password') %>
<h1>Reset password</h1>

<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>

  <%= hidden_field_tag :email, @user.email %>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, :autofocus => true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Update password", class: "button create_account" %>
<% end %>