<% provide(:title, 'All users') %>
<%#= will_paginate %>
  <% if @users.any? %>
    <p> Users : <%= @users.count %></p>
  <% end %>
  <br/>
<% @users.each do |user| %>
<div class ="all-users">

  <div class = "user-avatar">
 	    <% if user.avatar.mini.blank? %>
	      <%= link_to (image_tag("github.png", class: "mini")), user %> 
	    <% else %>
	      <%= link_to (image_tag user.avatar.mini, class: "mini"), user %>      
	    <% end %>
	</div>

	<div class = "user-name">	    
      <p><%= link_to user.name, user %>
      <%# if current_user.admin? && !current_user?(user) %>
      
      <% if current_user.try(:admin?) %>

         | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
      </p>
      <%= pluralize(user.bookmarks.count, "bookmark") %>
      <p class = "date">Joined: <%= user.created_at.strftime("%B %d, %Y - %I:%M %p ") %></p>
	      <%#= render @users %>
	      <%#= link_to user.name, user %>
    </div>  
    <div class="clear"></div>  
</div>
<% end %>

<div class="clear"></div>
<%= will_paginate %>
