<% provide(:title, 'All users') %>
<%#= will_paginate %>

<% @users.each do |user| %>
<div class ="all-users">
  <div class = "user-avatar">
 	    <% if user.avatar.mini.blank? %>
	      <%= image_tag("github.png", class: "mini") %> 
	    <% else %>
	      <%= image_tag user.avatar.mini, class: "mini" %>      
	    <% end %>
	</div>

	<div class = "user-name">	    
      <p><%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
         | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
      </p>
      <%= pluralize(user.bookmarks.count, "bookmark") %>
	      <%#= render @users %>
	      <%#= link_to user.name, user %>
    </div>  
    <div class="clear"></div>  
</div>
<% end %>

<%= will_paginate %>
<div class="clear"></div>