<% provide(:title, 'Join Us') %>

<p>The best way save and share bookmarks</p>
<h1>Join Little Bookmarks</h1>
<br/>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Create my account", class: "button create_account" %>
<% end %>
</div>
<br/>
