<div class = "profile_left">
	<%= image_tag(@user.avatar.thumb, alt: "current_user.name", class: "thumb")   if @user.avatar.thumb %>
	<p class ="profile_name"><%= @user.name.capitalize %><%#= current_user.name if logged_in? %></p>
	<p class ="join">Joined: <%= @user.created_at.strftime("%B %d, %Y") %></p>
	<p class = "location"> Nashville</p>
	<%= @user.email %>
</div>

<div class = "profile_right">
	<% if @user.bookmarks.any? %>
      <h3>bookmarks (<%= @user.bookmarks.count %>)</h3>
      <table class="table table-striped content">
        <%= render @bookmarks %>
      </table>
    <% end %>
    <hr/>
    <%= will_paginate @bookmarks %>
</div>

<div class="clear"></div>




<%#= image_tag(@user.avatar) if @user.avatar %>




<%#= image_tag(@user.avatar.micro) if @user.avatar.micro %>


