
    <% @posts.each do |post| %>
      <p><%= post.title %></p>
      <span class = "bookmark-time">
        <%= post.created_at.strftime("%B %d, %Y") %>
      </span> 
      <br/>
      <br>

      <p><%= post.post %></p>
      <p><%#= post.user_id %></p>
        
      
       
          
        <% if current_user.try(:admin?) %>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  
<br>
<% if current_user.try(:admin?) %>
 <%= link_to 'New Post', new_post_path %>
<% end %>