<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->

</head>
<body>
	<div class = "header">
		<div class ="width">
		  <div class ="left">
		    <span class="beta">Beta</span>
		    <br/>
		    <span class="logo-color">
		    <%= link_to 'little bookmarks', root_path, :class => 'logo' %>
		    </span>
		</div>
		<div class ="left menu main_links">
			<br/>	
			<%= link_to "Blog", blog_path %>
			<%= link_to "About", about_path %>
			<%= link_to "Help", help_path %>
		</div>

		<% if logged_in? %>


		<div class ="right menu">
			<br/>
			<span>
				<%#= current_user.name %> 
				<%= image_tag(current_user.avatar.micro, size: "20x20", alt: "current_user.name", 
				                                         class: "micro") %>
				<%#= current_user.name %> 
			<%= link_to "Users", users_path %>
			<%= link_to "Settings", edit_user_path(current_user) %>
			<%= link_to "Profile", current_user %>
			<%= link_to "Log out", logout_path, method: "delete" %>
			<span>
			</div>
			<% else %>
			<div class = "right login">
			<%= link_to "Login", login_path, :class => '' %>
			</div>
			<% end %>
		</div>

	<div class="clear"></div>
		<div class = "width content">
		<br/>
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
	
		<%= yield %>
		<hr>
		<p>Not sure it footer is really imperative at this point.</p>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
